doctype html
html(lang='en')
  head
    title CoffeeM8
    link(rel="stylesheet" type="text/css" href="style.css")
    link(rel="stylesheet" type="text/css" href="media-queries.css")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
      
  body
    
    .main-nav
      .container
        .economica
          .title.col-md-6.col-xs-5
            h1 CoffeeM8
          img.burger-nav(src="http://i.imgur.com/eqg1AAv.png" width="50px")
          nav.main-nav.col-md-6.text-right.pos
            ul
              li(role="presentation")
                a.top-nav#banner(href='#bannerSection' class="nav-color") Home
              li(role="presentation")
                a.top-nav#about(href='#aboutSection' class="nav-color") About
              li(role="presentation")
                a.top-nav#service(href='#serviceSection' class="nav-color") Services
              li(role="presentation")
                a.top-nav#contact(href='#contactSection' class="nav-color") Contact
  .dimming
    header#bannerSection
      .logo
    main
      #aboutSection
        .container
          .row
            h2.economica.col-md-12.text-center Why us, You ask?
          .row
            h6.col-md-12.text-center Who are we, you ask?
          .row
            p.about.col-md-12.text-center.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .row
            img.img-center(src="http://i.imgur.com/pkkYmd8.png" width="50px")
      #serviceSection
        .container.coffee-pics
          .row.img-row
            h1.economica.col-md-12.text-center Services
            p.col-md-12.text-center Our coffee is fire.
            figure.col-md-4
              h3.economica.text-center Original
              img.img-circle(src="http://i.imgur.com/UlMRi2Z.jpg?1", alt="")
              h5.text-center
                small Blacker than sin.
            figure.col-md-4
              h3.economica.text-center Expresso
              img.img-circle(src="http://i.imgur.com/BncokBU.jpg?1", alt="")
              h5.text-center
                small Bold.
            figure.col-md-4
              h3.economica.text-center Iced Coffee
              img.img-circle(src="http://i.imgur.com/UDjHcVB.jpg", alt="")
              h5.text-center
                small Icy.
            figure.col-md-4
              h3.economica.text-center Latte
              img.img-circle(src="http://i.imgur.com/IR48d6N.jpg?1", alt="")
              h5.text-center
                small Creamy.
            figure.col-md-4
              h3.economica.text-center Mocha
              img.img-circle(src="http://i.imgur.com/rXILjyY.jpg?1", alt="")
              h5.text-center
                small Chocolatey.
            figure.col-md-4
              h3.economica.text-center Americano
              img.img-circle(src="http://i.imgur.com/R78nwqD.jpg?1", alt="")
              h5.text-center
                small Murica.
              
      #contactSection
        .container
          .row
            h2.economica.col-md-12.text-center Contact us
          .row
            h6.col-md-12.text-center We would looove to hear from you.
          .row  
            form.form-horizontal(role='form')
              .modal-body
                .form-group
                  label.col-sm-2.control-label(for='contact-name') Name
                  .col-sm-10
                    input#contact-name.form-control(type='text', placeholder='First & Last Name')
                .form-group
                  label.col-sm-2.control-label(for='contact-email') Email
                  .col-sm-10
                    input#contact-email.form-control(type='email', placeholder='something@something.com')
                .form-group
                  label.col-sm-2.control-label(for='contact-message') Message
                  .col-sm-10
                    textarea.form-control(rows='4')
              .modal-footer
                button.btn.btn-primary(type='submit') Send
      .footer
        .container
          .row
            p.foot-text.col-md-6.text-left 2016 &copy CoffeeM8, LLC 
            .foot-nav.col-md-6.text-right 
              nav
                ul
                  li
                    a#banner(href="#bannerSection") Home
                    a#about(href="#aboutSection") About 
                    a#service(href="serviceSection") Services 
                    a#contact(href="#contactSection") Contact
                
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="script.js")
