/* MEDIA QUERIES */

@media (max-width: 999px) {
  .foot-nav{
    display: none;
  }
  nav ul{
    overflow: hidden;
    visibility: hidden;
    height: 0;
    transition: all 0.5s;
    text-align: center;
    background-color: #eeeaea;
    margin: 0 -100% 0 -100%;
    padding: 0;
  }
  nav ul li {
    display: block;
  }
  .nav-color {
    font-size: 17px;
  }
  nav ul li:hover {
    background-color: rgb(244, 243, 152);
    transition: all 0.5s;
  }
  .toggle {
    display: block;
    visibility: visible;
    height: 290px;
    transition: all 0.5s;
  }
  .dim {
    transition: all 0.5s;
    opacity: 0.2;
    pointer-events: none;
  }
  .disableScroll {
    overflow-y: hidden;
  }
  .burger-nav{
    display: block;
  }
  .burger-nav:target nav ul {
    display: block;
  }
}
